<footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

    <p>Develop By
        <a href="http://https://github.com/lrodolfol">
            <%= author %>
        </a>
    </p>

    <!-- 
    <blockquote class="blockqoute">
        In addition to knowing how, you need to know why.
    </blockquote 
    -->

</footer>


<script src="/materialize/js/materialize.js"></script>
<script src="/materialize/js/materialize.min.js"></script>

<script>
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
});
    </script>