<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--MATERIALIZE-->
    <link href="/materialize/css/materialize.css" rel="stylesheet">
    <link href="/materialize/css/materialize.min.css" rel="stylesheet">

    <!--PERSON-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="/materialize/css/materialize.min.css"></script>
    <script src="/js/jquery-1.11.1.min.js"></script> -->

    <title><%= title %> </title>
</head>

<body>
    <header>
        <nav class="blue-grey">
            <div class="nav-wrapper">
              <a href="../" class="brand-logo center"><img src="/images/pencil.png" alt=""></a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li class="active"><a href="../">Main</a></li>
              </ul>
            </div>
          </nav>                

    </header>